<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Projeto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Editar Projeto</h1>

    <form class="mt-4" th:action="@{/projeto/editar/{id}(id=${projeto.id})}" method="post" th:object="${projeto}">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input class="form-control" type="text" id="nome" name="nome" th:field="*{nome}"/>
        </div>

        <div class="form-group">
            <label for="dataInicio">Data de Início:</label>
            <input class="form-control" type="date" id="dataInicio" name="dataInicio" th:field="*{dataInicio}"/>
        </div>

        <div class="form-group">
            <label for="dataPrevisaoFim">Datade Previsão de Término:</label>
            <input class="form-control" type="date" id="dataPrevisaoFim" name="dataPrevisaoFim" th:field="*{dataPrevisaoFim}"/>
        </div>

        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <textarea class="form-control" id="descricao" name="descricao" th:field="*{descricao}"></textarea>
        </div>

        <div class="form-group">
            <label for="gerente">Gerente Responsável:</label>
            <select class="form-control" id="gerente" name="gerente" th:field="*{gerente}">
                <option th:each="pessoa : ${pessoas}" th:value="${pessoa.id}" th:text="${pessoa.nome}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="orcamento">Orçamento Total:</label>
            <input class="form-control" type="number" id="orcamento" name="orcamento" th:field="*{orcamento}"/>
        </div>

        <div class="form-group">
            <label for="risco">Classificação de Risco:</label>
            <select class="form-control" id="risco" name="risco" th:field="*{risco}">
                <option value="baixo">Baixo</option>
                <option value="médio">Médio</option>
                <option value="alto">Alto</option>
            </select>
        </div>

        <div class="form-group">
            <label for="status">Status:</label>
            <select class="form-control" id="status" name="status" th:field="*{status}">
                <option value="em análise">Em Análise</option>
                <option value="análise realizada">Análise Realizada</option>
                <option value="análise aprovada">Análise Aprovada</option>
                <option value="iniciado">Iniciado</option>
                <option value="planejado">Planejado</option>
                <option value="em andamento">Em Andamento</option>
                <option value="encerrado">Encerrado</option>
                <option value="cancelado">Cancelado</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
